#sidemenu {
    font-family: 'Titillium Web', Arial, sans-serif;
    left:0px;
    position:absolute;
    top:60px;
    width:200px;
    z-index:30;
    background-color: #1b939e;
    display:none;
}

#nav{
	width: 100%;
}

#sidemenu ul {
    list-style-type:none;
    padding:0;
    margin:0;
    width: 100%;
    margin-top:12px;
}

li.topics{
	background-color:#404754;
	margin-bottom:.2em;
    cursor: pointer;
}

li.subTopics{
	background-color:#1B939E;
	padding-left:1em;
}

.subTopics li {
	padding-left:1.5em;
}

#sidemenu ul li a:focus, #sidemenu ul li a:hover, #sidemenu ul li a.selected {
    /*color:#CC86A8;pink*/
    color: #ff5e00;
}


#sidemenu li li a{
color:white;
background-color: #1B939E;
text-align: left;
font-size: 11px;
width: 100%;
cursor: pointer;
}

#sidemenu li a{
	background-color: #404754;
	color: #1B939E;
	padding-left:1em;
	margin-bottom:2px;
	font-size: 12px;
	width: 100%;
    text-decoration: none;
}

#menu_search{
    margin-left: 8px;   
    color:grey;
    border-width: thin;
    text-indent: 1em;
    width: 85%;
    margin-top:4px;
}

#search_button_span{      
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    left: -30px;
    top: 4px;
}

#search_button{
    width: 16px;
    height: 16px;
    margin-top: 4px;
    cursor: pointer;
}


